/* 
    Created on : 2018-09-25, 21:39:33
    Author     : Moohen
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 306px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

@media screen and (max-width: 1920px) {
  /* Specific to this particular image */
  .bg {
    left: 50%;
    margin-left: -50%; } }
.row {
  width: 100%; }

/* Top content */
.topnav-container {
  height: 15.75vh;
  position: relative; }

.topnav-container .row {
  padding-top: 1.4vh;
  display: flex;
  justify-content: center; }

.icons-container {
  position: relative;
  right: 20.5%; }

.fa {
  opacity: 0.95;
  font-size: 18px;
  text-align: center;
  text-decoration: none; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  font-size: 17px;
  padding: 0px 5px 50px 5px;
  color: white; }

.fa-instagram {
  padding: 0px 5px 50px 5px;
  color: white; }

.fa-envelope {
  padding: 0px 5px 50px 5px;
  color: white; }

.logo-container {
  position: relative;
  margin-top: 2vh; }

.logo-btn {
  height: calc(1.09*9.5vh);
  width: 9.5vh;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 3px rgba(10, 10, 10, 0.9); }

.logo {
  height: 100%;
  width: 100%;
  opacity: 0.85; }

.logo:hover {
  opacity: 1; }

.languages-container {
  position: relative;
  left: 22.2%; }

.languages {
  opacity: 0.95;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 0px 2px 50px 2px; }

.languages:hover {
  opacity: 0.8; }

.languages-box {
  display: inline-block; }

.languages-icon {
  border: 1px solid black;
  height: 15px; }

/* Mid content */
.main-content {
  height: 54.8vh;
  position: relative; }

.main-content .row {
  padding-bottom: 0.7vh;
  padding-left: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative; }

.article {
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.45);
  height: 54.5vh;
  width: 54.5vw;
  border-radius: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(242, 242, 240, 0.95);
  display: flex;
  overflow: auto; }

@media screen and (max-width: 1821px) {
  .article {
    width: 65vw; } }
@media screen and (max-width: 1500px) {
  .article {
    width: 77vw; } }
.text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 5vh 6vh 0vh 6vh;
  min-width: 30vh; }

.latempestatext {
  margin-bottom: 1.5vh; }

.latempestatext-bottom {
  padding-bottom: 5.5vh; }

.latepmesta-photo {
  position: sticky;
  top: 5vh;
  right: 0vh;
  margin: 0vh 6vh 0vh 0vh;
  max-height: 33vh;
  max-width: calc(33vh*1.33); }

@media screen and (max-width: 1105px) {
  .latepmesta-photo {
    display: none; } }
/* Bottom content */
.footer {
  position: relative;
  height: 25.45vh; }

@media screen and (max-width: 1441px) {
  .footer {
    height: 24.45vh; } }
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-btn {
  height: 9vh;
  width: 16vh;
  margin: 0.5vh 0.3vh;
  outline: none;
  background: none;
  border: none;
  border-radius: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.4s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1132px) {
  .nav-btn {
    height: 8vh;
    width: 12vh;
    font-size: 16px; } }
@media screen and (max-width: 700px) {
  .nav-btn {
    height: 8vh;
    width: 14vh;
    font-size: 14px; } }
@media screen and (max-width: 500px) {
  .nav-btn {
    height: 8vh;
    width: 10vh;
    font-size: 10px; } }
@media screen and (max-height: 700px) {
  .nav-btn {
    height: 8vh;
    width: 18vh;
    font-size: 16px; } }
@media screen and (max-height: 500px) {
  .nav-btn {
    height: 10vh;
    width: 20vh;
    font-size: 14px; } }
@media screen and (max-height: 450px) {
  .nav-btn {
    height: 10vh;
    width: 25vh;
    font-size: 12px; } }
@media (max-height: 700px) and (max-width: 1000px) {
  .nav-btn {
    height: 8vh;
    width: 22vh;
    font-size: 10px; } }
.nav-btn:nth-child(1) {
  text-align: right; }

.nav-btn:nth-child(2) {
  text-align: right; }

.nav-btn:nth-child(3) {
  text-align: right; }

.nav-btn:nth-child(4) {
  text-align: center; }

.nav-btn:nth-child(5) {
  text-align: left; }

.nav-btn:nth-child(6) {
  text-align: left; }

.nav-btn:nth-child(7) {
  text-align: left; }

.nav-btn:hover {
  border-radius: 1.5vh 1.5vh 1vh 1.5vh;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.85); }

.nav-btn:nth-child(1):hover {
  background-color: rgba(186, 0, 0, 0.9); }

.nav-btn:nth-child(2):hover {
  background-color: rgba(219, 72, 11, 0.9); }

.nav-btn:nth-child(3):hover {
  background-color: rgba(247, 146, 47, 0.9); }

.nav-btn:nth-child(4):hover {
  background-color: rgba(255, 239, 63, 0.9); }

.nav-btn:nth-child(5):hover {
  background-color: rgba(84, 175, 78, 0.9); }

.nav-btn:nth-child(6):hover {
  background-color: rgba(57, 122, 185, 0.9); }

.nav-btn:nth-child(7):hover {
  background-color: rgba(109, 35, 101, 0.95); }

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(60, 0, 0, 0.95);
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c0000; }

.authors {
  position: absolute;
  bottom: 0.5vh;
  left: 40%;
  color: white;
  opacity: 0.5;
  font-size: 12px; }

/*# sourceMappingURL=latempestastyle.css.map */
