/* 
    Created on : 2018-09-10, 16:53:09
    Author     : Moohen
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 306px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

@media screen and (max-width: 1920px) {
  /* Specific to this particular image */
  .bg {
    left: 50%;
    margin-left: -50%; } }
.row {
  width: 100%; }

/* Top content */
.topnav-container {
  height: 15.75vh;
  position: relative; }

.topnav-container .row {
  padding-top: 1.4vh;
  display: flex;
  justify-content: center; }

.icons-container {
  position: relative;
  right: 20.5%; }

.fa {
  opacity: 0.95;
  font-size: 18px;
  text-align: center;
  text-decoration: none; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  font-size: 17px;
  padding: 0px 5px 50px 5px;
  color: white; }

.fa-instagram {
  padding: 0px 5px 50px 5px;
  color: white; }

.fa-envelope {
  padding: 0px 5px 50px 5px;
  color: white; }

.logo-container {
  position: relative;
  margin-top: 2vh; }

.logo-btn {
  height: calc(1.09*9.5vh);
  width: 9.5vh;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 3px rgba(10, 10, 10, 0.9); }

.logo {
  height: 100%;
  width: 100%;
  opacity: 0.85; }

.logo:hover {
  opacity: 1; }

.languages-container {
  position: relative;
  left: 22.2%; }

.languages {
  opacity: 0.95;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 0px 2px 50px 2px; }

.languages:hover {
  opacity: 0.8; }

.languages-box {
  display: inline-block; }

.languages-icon {
  border: 1px solid black;
  height: 15px; }

/* Mid content */
.main-content {
  height: 54.8vh;
  position: relative; }

.main-content .row {
  padding-bottom: 0.7vh;
  padding-left: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative; }

.article-recordings {
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.45);
  height: 54.5vh;
  width: 54.5vw;
  border-radius: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(242, 242, 240, 0.95);
  overflow: auto;
  padding-left: 2.4vh;
  display: flex; }

@media screen and (max-width: 1821px) {
  .article-recordings {
    width: 65vw; } }
@media screen and (max-width: 1500px) {
  .article-recordings {
    width: 77vw; } }
.mid-recordings {
  padding-top: 2%;
  padding-left: 1%; }

.photo-top-recording {
  cursor: pointer;
  transition: 0.3s;
  margin-top: 0.3vh;
  margin-right: 29px;
  height: 214.7px;
  width: 214.7px;
  float: left;
  display: block; }

.photo-mid-recordings {
  border: 1px solid #555555;
  cursor: pointer;
  transition: 0.3s;
  height: 115.1px;
  width: 115.1px;
  float: left;
  margin: 0.3vh 3px; }

.mid-block {
  display: flex;
  flex-wrap: wrap; }

.block-bottom {
  margin-left: 244px; }

/*.photo-bottom-recordings {
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    height: 12vh;
    width: 12vh;
}*/
.photo-top-recording:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.55); }

.photo-mid-recordings:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.55); }

/* Bottom content */
.footer {
  position: relative;
  height: 25.5vh; }

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-btn {
  height: 9vh;
  width: 16vh;
  margin: 0.5vh 0.3vh;
  outline: none;
  background: none;
  border: none;
  border-radius: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.4s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1132px) {
  .nav-btn {
    height: 8vh;
    width: 12vh;
    font-size: 16px; } }
@media screen and (max-width: 700px) {
  .nav-btn {
    height: 8vh;
    width: 14vh;
    font-size: 14px; } }
@media screen and (max-width: 500px) {
  .nav-btn {
    height: 8vh;
    width: 10vh;
    font-size: 10px; } }
@media screen and (max-height: 700px) {
  .nav-btn {
    height: 8vh;
    width: 18vh;
    font-size: 16px; } }
@media screen and (max-height: 500px) {
  .nav-btn {
    height: 10vh;
    width: 20vh;
    font-size: 14px; } }
@media screen and (max-height: 450px) {
  .nav-btn {
    height: 10vh;
    width: 25vh;
    font-size: 12px; } }
@media (max-height: 700px) and (max-width: 1000px) {
  .nav-btn {
    height: 8vh;
    width: 22vh;
    font-size: 10px; } }
.nav-btn:nth-child(1) {
  text-align: right; }

.nav-btn:nth-child(2) {
  text-align: right; }

.nav-btn:nth-child(3) {
  text-align: right; }

.nav-btn:nth-child(4) {
  text-align: center; }

.nav-btn:nth-child(5) {
  text-align: left; }

.nav-btn:nth-child(6) {
  text-align: left; }

.nav-btn:nth-child(7) {
  text-align: left; }

.nav-btn:hover {
  border-radius: 1.5vh 1.5vh 1vh 1.5vh;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.85); }

.nav-btn:nth-child(1):hover {
  background-color: rgba(186, 0, 0, 0.9); }

.nav-btn:nth-child(2):hover {
  background-color: rgba(219, 72, 11, 0.9); }

.nav-btn:nth-child(3):hover {
  background-color: rgba(247, 146, 47, 0.9); }

.nav-btn:nth-child(4):hover {
  background-color: rgba(255, 239, 63, 0.9); }

.nav-btn:nth-child(5):hover {
  background-color: rgba(84, 175, 78, 0.9); }

.nav-btn:nth-child(6):hover {
  background-color: rgba(57, 122, 185, 0.9); }

.nav-btn:nth-child(7):hover {
  background-color: rgba(109, 35, 101, 0.95); }

/* Recordings modal */
/* Style the Image Used to Trigger the Modal */
.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.97);
  justify-content: center; }

.modal-content {
  height: 80vh;
  width: 80vw;
  display: flex;
  padding: 2vh 20px; }

.modal-image {
  margin: auto;
  height: 370px;
  width: 370px; }

@media screen and (max-width: 1441px) {
  .modal-image {
    height: 220px;
    width: 220px; } }
@media screen and (max-width: 1001px) {
  .modal-image {
    display: none; } }
.modal-image-4 {
  margin: auto;
  margin-right: -15%;
  height: 370px;
  width: 370px; }

@media screen and (max-width: 1441px) {
  .modal-image-4 {
    height: 220px;
    width: 220px; } }
 /*

*/
@media screen and (max-width: 1001px) {
  .modal-image-4 {
    display: none; } }
.modal-image-one-on-modal {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
  height: 370px;
  width: 370px; }

@media screen and (max-width: 1441px) {
  .modal-image-one-on-modal {
    height: 220px;
    width: 220px; } }
@media screen and (max-width: 1001px) {
  .modal-image-one-on-modal {
    display: none; } }
.modal-image-canne {
  margin: auto;
  height: 25vh;
  width: 25vh; }

.modal-image-in-text {
  margin: auto;
  height: 12.5vh;
  width: 12.5vh; }

.modal-text {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10vh 6vh;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  max-width: 80%; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .modal-text {
    margin: auto; } }
.modal-text-4 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
  padding: 0vh 6vh;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  max-width: 80%; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .modal-text-4 {
    padding: 10vh 6vh;
    margin: auto; } }
.modal-text-10 {
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 6vh;
  padding: 0vh 6vh;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  max-width: 80%; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .modal-text-10 {
    margin: auto; } }
.modal-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9); }

.modal-mp3-container {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .modal-mp3-container {
    display: none; } }
.modal-mp3-title {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 1vh; }

.p-line {
  border-bottom: 1px solid white; }

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.5s; }

.fa-external-link-alt {
  color: white; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -70px;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 36px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 4vh; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .next {
    right: 2vh; } }
.prev {
  left: 4vh; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .right {
    left: 2vh; } }
.next:hover {
  color: #bbb; }

.prev:hover {
  color: #bbb; }

@keyframes zoom {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  position: absolute;
  top: 4vh;
  right: 5.5vh;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

@media screen and (max-width: 600px), screen and (max-height: 0px) {
  .close {
    right: 4vh; } }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(60, 0, 0, 0.95);
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c0000; }

.authors {
  position: absolute;
  bottom: 0.5vh;
  left: 40%;
  color: white;
  opacity: 0.5;
  font-size: 12px; }

/*# sourceMappingURL=recordingsstyle.css.map */
